doctype xml
rss(version='2.0')
channel
  title= title
  description= description
  link= link
  lastBuildDate= lastBuildDate
  pubDate= pubDate

  each item in items
    item
      title= item.title
      description= item.description
      link= item.link
