- grid.content = grid.size - ((!!regions.left || !!menus.left) * grid.left) - ((!!regions.right || !!menus.right) * grid.right)
block header
  #header.navbar.navbar-inverse(class=use.bootstrap && use.bootstrap.fixedNavbar && 'navbar-fixed-top' || '')
    .navbar-inner
      div(class=use.bootstrap.fluid && 'container-fluid' || 'container')
        if use.bootstrap.collapsibleNavbar
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.brand(href="/")= site_name
        div(class=use.bootstrap.collapsibleNavbar && 'nav-collapse collapse')
          if regions.navbarLinks
            ul.nav
              - for item, path in regions.navbarLinks
                li(class=path == current && 'active')
                  a(href=path)= item
          if use && use.user && use.user.navbar
            if true
              form.navbar-form.pull-right
                input.span2(type="text", placeholder="Email")
                input.span2(type="password", placeholder="Password")
                button.btn(type="submit") Sign in
            else
              .navbar-text.pull-right
                | Logged in as 
              a.navbar-link(href="/user/42") Username
block page
  #page(class=use.bootstrap.fluid && 'container-fluid' || 'container')
    div(class=use.bootstrap.fluid && 'row-fluid' || 'row')
      include pageinner
block footer
  if regions.footer
    hr
    footer#footer.footer
      div(class=use.bootstrap.fluid && 'container-fluid' || 'container')
        - for content, className in regions.footer
          div(class=className)!= content
