block header
  #header.navbar.navbar-inverse(class=use.bootstrap && use.bootstrap.navbarFixed && '.navbar-fixed-top' || '')
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/")= site_name
        .nav-collapse.collapse
          .navbar-text.pull-right
            | Logged in as 
            a.navbar-link(href="/user/42") Username
          if regions.navbarItems
            ul.nav
              - for item, path in regions.navbarItems
                li(class=path == current && 'active')
                  a(href=path)= item
block page
  #page.container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Sidebar
            li.active: a(href="#") Link
            li: a(href="#") Link
            li: a(href="#") Link
            li: a(href="#") Link
            li.nav-header Sidebar
            li: a(href="#") Link
            li: a(href="#") Link
            li: a(href="#") Link
            li: a(href="#") Link
      .span9
        .hero-unit
          h1.page-title= title
          block content
            p Lorem Ipsum
            p: a.btn.btn-primary.btn-large Learn more &raquo;
        .row-fluid
          .span4
            h2 Heading
            p Lorem Ipsum
          .span4
            h2 Heading
            p Lorem Ipsum
          .span4
            h2 Heading
            p Lorem Ipsum
        .row-fluid
          .span4
            h2 Heading
            p Lorem Ipsum
          .span4
            h2 Heading
            p Lorem Ipsum
          .span4
            h2 Heading
            p Lorem Ipsum
block footer
  hr
  footer.footer
    .container
      p.pull-right
        a(href="#") Back to top
      p Copyright
      ul.footer-links
        li
          a(href="http://www.google.com/") Google
        li
          a(href="http://www.free.fr/") Free
